<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body onload = "connect()" onunload="disconnect()">
<h4>Hello <span th:text="${username}"/></h4>

<div align = "right">
    <form action = "#" th:action="@{/doctor}" method = "post">
        <p><input type="submit" name="logout" value="Log Out" /> </p>
    </form>
</div>

<h3>Show Consultations</h3>
<form action="#" name="showConsultations" th:action="@{/doctor/doctorConsultations}"  method="post">
    <p><input type="submit" name="showConsultations" value="Show Consultations" /> </p>
</form>
<br>

<h3>Diagnose</h3>
<form action="#" name="diagnose" th:action="@{/doctor}" method="post" id="diagnose">
    <p>ConsultationId: <input type="text" onfocus="this.value=''" name ="consultationId" id="consultationId" /></p>

    <textarea name="diagnose" ></textarea>
    <p><input type="submit" name="diagnose" value="Diagnose" /> </p>
</form>


<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <label for="connect">WebSocket connection:</label>
            <input id="login" type="text" />
            <button id="connect" class="btn btn-default" type="submit">Connect</button>
            <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
            </button>
        </div>

    </div>
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Greetings</th>
            </tr>
            </thead>
            <tbody id="messages">
            </tbody>
        </table>
    </div>
</div>

</body>
</html>