<<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align = "center">
<h1>Doctors</h1>
<form th:action="@{/consultation}">
    	<input type="submit" value="Consultation Menu" > 	
		</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text = "${doctor.id}"></td>
        <td th:text="${doctor.username}"></td>
      
    </tr>
    </tbody>
</table>
</div>
</body>
</html>